@charset "UTF-8";

/* 回答はここに書いてね */

.q1-wrapper {
  width:940px;
  margin:0 auto;
  padding:20px;
  background-color:#eff3f4;
  box-sizing:border-box;
}

.q1__content {
  float:left;
  padding:20px;
  margin-right:20px;
  background-color:#3274ae;
  font-size:0;
}

.content:last-child {
  margin:0;
}

.q1__text {
  width:230px;
  padding:20px;
  border:10px solid #022336;
  background-color:#eaf4ff;
  font-size:16px;
  line-height:16px;
  box-sizing:border-box;
}

.clearfix::after {
  display:block;
  clear:both;
  content:"";
}

/* 回答はここに書いてね */
