@charset "UTF-8";

/* 回答はここに書いてね */

.q7__item {
  width:225px;
  box-sizing:border-box;
  font-size:16px;
}

/* 7-1 */

.q7__float-left {
  float:left;
}

.q7__float-right {
  float:right;
}

.clearfix::after {
  display:block;
  clear:both;
  content:"";
}

/* 7-2 */

.q7__table {
  display:table;
}

.q7__cell {
  display:table-cell;
  vertical-align:middle;
}

.q7__cell:first-child {
  padding-right:50px;
}

/* 7-3 */

.q7__container {
  font-size:0;
}

.inline {
  display:inline-block;
  vertical-align:middle;
}

.inline:first-child {
  margin-right:50px;
}

/* 7-4 */

.flexbox {
  display:flex;
  justify-content:space-around;
  align-items:flex-end;
}

/* 7-5 */

.q7-5-1 {
  display:inline-block;
  width:300px;
}

.q7-5-2 {
  display:inline-block;
  width:100%;
  margin-left:-300px;
  padding-left:350px;
  box-sizing:border-box;
}

.q7-5__text {
  font-size:16px;
}


/* 回答はここに書いてね */
