@charset "UTF-8";

/* 回答はここに書いてね */

.top,.bottom{
  padding:20px;
  box-sizing:border-box;
  text-align:center;
}

.top{
  padding-bottom:0;
}

.table{
  display:table;
  /* table-layout:fixed; */
  width:100%;
}

.top-left{
  background-color:#fdc8b8;
  width:100px;
  display:table-cell;
}

.top-center{
  background-color:#e0abd9;
  display:table-cell;
  width:100%;
}

.top-right{
  background-color:#b6d8ed;
  width:100px;
  display:table-cell;
}

.bottom-left{
  background-color:#e5d32e;
  display:table-cell;
  /* width:100%; */
}

.bottom-center{
  background-color:#ec8f9a;
  display:table-cell;
  /* width:100%; */
}

.bottom-right{
  background-color:#8fdcad;
  width:500px;
  display:table-cell;
}

.pTB20{
  padding:20px;
}

/* 回答はここに書いてね */
