@charset "UTF-8";

/* 回答はここに書いてね */

.q5-wrapper{
  background-color:#ECF1F2;
  width:500px;
  margin:0 auto;
  position:relative;
}

.q5-wrapper::before{
  content:"";
  display:block;
  padding-top:100%;
}

.box-1{
  background-color:#ffefd3;
  position:absolute;
  top:40px;
  left:200px;
  z-index:10;
}

.box-2{
  background-color:#7084de;
  position:absolute;
  top:120px;
  left:280px;
  z-index:11;
}

.box-3{
  background-color:#d0ecea;
  position:absolute;
  top:200px;
  /* left:360px; */
  right:40px;
  z-index:12
}

.box-4{
  background-color:#8b7a5e;
  position:absolute;
  top:280px;
  left:280px;
  z-index:13;
}

.box-5{
  background-color:#9fd6d2;
  position:absolute;
  /* bottom:40px; */
  top:360px;
  left:200px;
  z-index:14;
}

.box-6{
  background-color:#fffee4;
  position:absolute;
  top:280px;
  left:120px;
  z-index:15;
}

.box-7{
  background-color:#deae70;
  position:absolute;
  top:200px;
  left:40px;
  z-index:16;
}

.box-8{
  background-color:#de70cf;
  position:absolute;
  top:120px;
  left:120px;
  z-index:17;
}

.box-9{
  background-color:#2b69a3;
  position:fixed;
  top:10px;
  left:10px;
}

.layout{
  width:100px;
  height:100px;
  text-align:center;
  line-height:100px;
  font-weight:bold;
  font-size:30px;
}

/* 回答はここに書いてね */
