@charset "UTF-8";

/* 回答はここに書いてね */

/* 6-1 */

.q6__text {
  display:inline-block;
  width:90px;
  padding:10px 0;
  background-color:#e6f2ff;
  text-align:center;
}

.text-align {
  display:block;
  text-align:center;
}

.margin-auto {
  display:block;
  margin:0 auto;
}

/* 6-2 */

.q6-2__text {
  display:inline-block;
  padding:10px;
  background-color:#fff;
}

.q6__table {
  display:table;
  text-align:center;
}

.q6__cell {
  display:table-cell;
  vertical-align:middle;
}

.flexbox {
  display:flex;
  align-items:center;
  justify-content:center;
}

.q6__wrapper {
  position:relative;
}

.q6-3__text {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  width:110px;
  height:30px;
}

.q6-4__text {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%);
  padding:10px;
}

/* 回答はここに書いてね */
