@charset "UTF-8";

/* 回答はここに書いてね */

.btn {
  display:inline-block;
  margin-right:10px;
  color:#fff;
}

.btn:last-child {
  margin:0;
}

.btnS {
  padding:0 15px;
  border-radius:3px;
  font-size:16px;
  line-height:26px;
}

.btnM {
  padding:0 20px;
  border-radius:5px;
  font-size:20px;
  line-height:32px;
}

.btnL {
  padding:0 25px;
  border-radius:7px;
  font-size:24px;
  line-height:38px;
}

.common {
  background-color:#00bcd4;
}

.error {
  background-color:#ff4081;
}

.disabled {
  background-color:#e5e5e5;
}

.shadow {
  box-shadow:0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0,0,0,.12);
  background-color:#fff;
  color:#222;
}

/* form */

.q8__wrapper {
  width:740px;
  margin:0 auto;
  padding:20px;
  background-color:#ECF1F2;
  box-sizing:border-box;
}

.form__heading {
  display:flex;
  margin-bottom:20px;
  font-size:24px;
  font-weight:bold;
  align-items:center;
}

.form__heading::after {
  content:"";
  height:1px;
  margin-left:10px;
  background-color:#ccc;
  flex-grow:1;
}

.form__left {
  float:left;
}

.form__list {
  margin-bottom:20px;
}

.form__menu {
  margin-top:20px;
}

.form__menu:first-child {
  margin:0;
}

.form__item {
  float:left;
  width:100px;
  margin-right:20px;
  line-height:25px;
  text-align:right;
}

.required {
  color:#f00;
}

.form__input {
  float:right;
  width:180px;
}

.input {
  width:180px;
  padding:5px;
  border:none;
  border-radius:3px;
  background-color:#fff;
  font-size:12px;
  line-height:12px;
  box-sizing:border-box;
}

/* radio */

input[type="radio"] {
  display:none;
}

.gender__radio {
  display:inline-block;
  position:relative;
  padding:3px 3px 3px 20px;
  cursor:pointer;
}

.gender__radio::before,
.gender__radio::after {
  content:"";
  position:absolute;
  border-radius:50%;
}

.gender__radio::before {
  top:2px;
  left:0;
  width:14px;
  height:14px;
  border:1px solid #ccc;
  background-color:#fff;
}

input[type="radio"]:checked + .gender__radio::after {
  top:6px;
  left:4px;
  width:8px;
  height:8px;
  background-color:#00bcd4;
}

/* radio */

/* select */

.select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}

.select-wrapper {
  position:relative;
}

.select-wrapper::after {
  content:"";
  position:absolute;
  top:4px;
  right:10px;
  width:8px;
  height:8px;
  border-right:2px solid #e5e5e5;
  border-bottom:2px solid #e5e5e5;
  transform:rotate(45deg);
}

/* select */

/* checkbox */

input[type="checkbox"] {
  display:none;
}

.age__checkbox {
  position:relative;
  padding-left:24px;
}

.age__checkbox::before, 
.age__checkbox::after {
  content:"";
  position:absolute;
  height:16px;
}

.age__checkbox::before {
  top:0;
  left:0;
  width:16px;
  border:1px solid #ccc;
  background-color:#fff;
}

.age__checkbox::after {
  top:-4px;
  left:6px;
  width:8px;
  border-right:3px solid #00bcd4;
  border-bottom:3px solid #00bcd4;
  transform:rotate(45deg);
  opacity:0;
}

input[type="checkbox"]:checked + .age__checkbox::after {
  opacity:1;
}

/* checkbox */

.text-right {
  text-align:right;
}

.button {
  padding:0 10px;
  border:none;
  border-radius:5px;
  background-color:#00bcd4;
  color:#fff;
  font-size:16px;
  line-height:26px;
  outline:none;
  cursor:pointer;
}

.button:active {
  color:#00bcd4;
  background-color:#fff;
}

.form__right {
  float:right;
}

.textarea {
  width:380px;
  height:203px;
  padding:10px;
  resize:none;
}

.textarea:focus {
  box-shadow:0 0 6px rgb(0,188,212);
  border:none;
  outline:none;
}

.clearfix::after {
  content:"";
  display:block;
  clear:both;
}


/* 回答はここに書いてね */
